---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="GBDevs - Global Bridge Developers"
  description="GBDevs es una comunidad de desarrolladores que buscan mejorar la comunidad a trav茅s de sus experiencias."
>
  <main class="flex flex-col items-center justify-center py-8">
    <h1 class="mb-12 text-8xl font-bold">GBDevs</h1>
    <h2 class="mb-4 text-4xl font-semibold">驴Qui茅nes somos?</h2>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-10 px-4 md:grid-cols-2 lg:grid-cols-2">
      <div
        class="rounded-lg border border-slate-700 bg-slate-800/30 p-6 transition-transform hover:scale-105"
      >
        <div class="mb-4 flex items-center">
          <span class="mr-2 text-2xl"></span>
          <h3 class="text-2xl font-semibold">Misi贸n</h3>
        </div>
        <p>
          Promover el desarrollo de la comunidad tecnol贸gica a trav茅s del intercambio de
          conocimientos, la colaboraci贸n en proyectos innovadores y el fortalecimiento de
          habilidades en el campo de la inform谩tica, fomentando una cultura de aprendizaje continuo,
          inclusi贸n y compromiso con el progreso digital de la regi贸n.
        </p>
      </div>

      <div
        class="rounded-lg border border-slate-700 bg-slate-800/30 p-6 transition-transform hover:scale-105"
      >
        <div class="mb-4 flex items-center">
          <span class="mr-2 text-2xl"></span>
          <h3 class="text-2xl font-semibold">Visi贸n</h3>
        </div>
        <p>
          Ser un referente en la comunidad tecnol贸gica del departamento, impulsando la
          transformaci贸n digital, el crecimiento profesional de desarrolladores, el acercamiento de
          ni帽os y j贸venes a herramientas para su futuro, creando soluciones que impacten
          positivamente en la sociedad, y construyendo un espacio donde el conocimiento sea
          compartido de manera abierta y accesible para todos.
        </p>
      </div>
    </div>
  </main>
</Layout>
